*{
    background: #099c58;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%; 
}

.logosh{
    padding-top: 10px;
    margin-left: 10px;
    width: 100px;
}

main{
    padding: 50px;
    margin-left: 50px;
}

.footer{
    text-align: center;
}